<div class="app-viewport">
  <nav class="top-bar">
    <div class="nav-content">
      <div class="search-wrapper">
        <div class="search-container">
          <input #cityInput type="text" placeholder="Buscar ciudad..." (input)="filtrarSugerencias(cityInput.value)"
            (keyup.enter)="seleccionarSugerencia(cityInput.value); cityInput.value = ''">
          <fa-icon class="search-icon-pure" [icon]="iconSearch"></fa-icon>
        </div>
        @if (state().sugerencias.length > 0) {
        <ul class="autocomplete-list">
          @for (lugar of state().sugerencias; track lugar) {
          <li (click)="seleccionarSugerencia(lugar); cityInput.value = ''" class="suggestion-item">
            <fa-icon [icon]="iconLocation" class="icon-pin"></fa-icon>
            <div class="text-container">
              <span class="city-name">
                {{ lugar.name || lugar.local_names?.es || 'Ciudad desconocida' }}
              </span>
              <span class="location-details">
                {{ lugar.state ? lugar.state + ',' : '' }} {{ lugar.country }}
              </span>
            </div>
          </li>
          }
        </ul>
        }
      </div>

      <div class="history-menu-container">
        <button class="history-toggle" (click)="toggleHistorial()">
          Historial
        </button>

        @if (showHistory()) {
        <div class="history-dropdown">
          <app-historial [ciudades]="state().history" (alSeleccionar)="buscar($event); toggleHistorial()">
          </app-historial>
        </div>
        }
      </div>
    </div>
  </nav>

  <main class="main-content">
    @if (state().current) {
    <div class="current-weather-wrapper">
      <app-clima-actual [data]="state().current!"></app-clima-actual>
    </div>
    }

    @if (state().forecast && state().forecast!.length > 0) {
    <div class="forecast-wrapper">
      <app-pronostico [items]="state().forecast!"></app-pronostico>
    </div>
    }
    @if (state().loading) {
    <div class="loading-container">
      <fa-icon [icon]="iconLoading" [animation]="'spin'"></fa-icon>
      <span>Buscando...</span>
    </div>
    }
    @if (state().error) {
    <div class="error-card">
      <fa-icon [icon]="state().error === 'Sin conexión a internet' ? iconNoWifi : iconError"></fa-icon>
      <p class="error-title">{{ state().error }}</p>
      <p class="error-subtitle">
        @if (state().error === 'Sin conexión a internet') {
        Verifica tu conexión e intenta de nuevo
        } @else {
        Intenta con otro nombre o revisa la ortografía
        }
      </p>
    </div>
    }

  </main>
</div>